					<div class="row">
						<div class="divLoginName">Привет, администратор <strong><%= adminLogin %></strong></div>
						<div class="divExitCmd"><strong><a href="/admin/exit">Выйти</a></strong></div>
					</div>