<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="container">
			<h1><%= title %></h1>
			<% if(adminLogin){ %>
				<div>
					<% include admheader %>
					<% include admmnu %>
					<div id="workArea">
					</div>
				</div>
			<% } else{ %>
				<% if (errorMsg) { %><p><%= errorMsg %></p><% } %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>
