<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="wrapper">
			<% if(adminLogin){ %>
				<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
					<% include admmnu %>
				</div>
				<div id="workArea" class="main-panel">
					<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
							<div class="container-fluid">
								<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
								<span class="sr-only">Toggle navigation</span>
								<span class="navbar-toggler-icon icon-bar"></span>
								<span class="navbar-toggler-icon icon-bar"></span>
								<span class="navbar-toggler-icon icon-bar"></span>
								</button>
								<div class="collapse navbar-collapse justify-content-end">
									<ul class="navbar-nav">
										<% include admheader %>
									</ul>
								</div>
							</div>
					</nav>
					<div class="content">
						<div class="container-fluid">
							<form method="POST" action="/admin/export/">
								 <div class="row" style="margin-bottom: 50px;">
									<div class="col-md-12">
										<a href="/admin/reports/trans/xml" class="btn btn-primary" target="_blank">Отчет по продажам ( XML ) | Все транзакции </a>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="row">
											<div class="col-4">
												<label for="eventsList">Мероприятие:</label>
											</div>
											<div class="col-8">
												<select name="eventsList" id="eventID" name="eventID" class="form-control form-control-sm" required>
													<% events.forEach(function(event) { %>
															<option value="<%= event.ID %>"><%= event.Name %> (ID:<%= event.ID%>)</option>
													<% }); %>
												</select>
											</div>
										</div>
										
									</div>
									<div class="col-2">
										<input type="date" name="begin" class="form-control begin" placeholder="с" required />
									</div>
									<div class="col-2">
										<input type="date" name="end" class="form-control end" placeholder="до" required />
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-4">
										<button class="btn btn-primary export" type="submit">Экспорт в 1С</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>

	</body>
</html>

