<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/xml/xml.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="wrapper">
			<% if(adminLogin){ %>
				<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
					<% include admmnu %>
				</div>
				<div id="workArea" class="main-panel">
					<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
							<div class="container-fluid">
								<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
								<span class="sr-only">Toggle navigation</span>
								<span class="navbar-toggler-icon icon-bar"></span>
								<span class="navbar-toggler-icon icon-bar"></span>
								<span class="navbar-toggler-icon icon-bar"></span>
								</button>
								<div class="collapse navbar-collapse justify-content-end">
									<ul class="navbar-nav">
										<% include admheader %>
									</ul>
								</div>
							</div>
					</nav>
					<div class="content">
						<div class="container-fluid">
							<!-- <textarea name="" id="" cols="600" rows="600">
								
							</textarea> -->
							<pre><textarea class="html" id="html" ><%= fileContent %></textarea></pre>
						</div>
						<div class="row justify-content-center">
							<div class="col-2">
								<button class="btn btn-success do-save">Сохранить</button>
							</div>
							<div class="col-2">
								<button class="btn btn-primary do-view">Предпросмотр</button>
							</div>
						</div>
					</div>
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>

	<div class="modal save-info" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header md-header" style="background-color: #4caf50;">
	        <h5 class="modal-title md-title"><b>Сохранено!</b></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" style="padding-bottom: 0;">
	        <p class="md-content">Сохранение шаблона успешно!</p>
	      </div>
	      <div class="modal-footer" style="padding-bottom: 5px; padding-top: 5px;">
	        <button type="button" class="btn btn-success md-ok" data-dismiss="modal">Ок</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal preview" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title"><b>Предпросмотр</b></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" style="padding-bottom: 0; height: 450px;">
	        <iframe src="<%= IDTemplate %>" class="frame-preview" style="width: 100%; height: 100%;"></iframe>
	      </div>
	      <div class="modal-footer" style="padding-bottom: 5px; padding-top: 5px; margin-top: 15px;">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ок</button>
	      </div>
	    </div>
	  </div>
	</div>
	

		<script>
			$(document).ready(function(){
				var editor = CodeMirror.fromTextArea(document.getElementById('html'), {
				    lineNumbers: true,
				    mode: "xml",
				    htmlMode: true
				});
				editor.setSize('100%', 700);

				$('.do-save').click(function() {
					console.log(editor.getValue());
					$.ajax({
						type: "POST",
						data: {
							content: editor.getValue()
						},
						success: function(result){
							if ( result.success ){
								$('.save-info').modal('show');
							}
							else if ( result.err ){
								$('.md-title').text("Ошибка!");
								$('.md-content').text(result.err);
								$('.md-header').css('background-color', '#f44336');
								$('.md-ok').addClass('btn-danger').removeClass('btn-success');

								$('.save-info').modal('show');
							}
							console.log("POST upd /admin/template/edit/:id result");
							console.log(result);
							
						},
						error: function(err){
							console.log("POST /admin/template/edit/:id error:");
							console.log(err);
						}
					});
				})
				$('.do-view').click(function(){
					
					$('.preview').modal('show');
					var Frame = $(".frame-preview").contents().find('body');
					Frame.html(editor.getValue());
								        
				})
			})
			
		</script>
	</body>
</html>

