<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="wraper">
			<h1><%= title %></h1>
			<% if(adminLogin){ %>
				<div>
				<% include admheader %>
				</div>
				<div class="col-sm-3">
					<% include admmnu %>
				</div>
				<div id="workArea" class="col-sm-9">
				</div>
			<% } else{ %>
				<% if (errorMsg) { %><p><%= errorMsg %></p><% } %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>
