<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="container">
			<h1><%= title %></h1>
			<% if(adminLogin){ %>
				<div>
					<% include admheader %>
					<% include admmnu %>
					<div id="workArea">
						Пользователи
						<div class="container">
							<table>
								<th>Логин</th>
								<% usersList.forEach(function(userRow) { %>
									<tr>
										<td><a href="/admin/user/<%= userRow.ID %>"><%= userRow.Login %></a></td>
									</tr>
								<% }); %>
							</table>
						</div>
					</div>
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>

