<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="wrapper">
			<% if(adminLogin){ %>
				<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
					<% include admmnu %>
				</div>
				<div id="workArea" class="main-panel">
					<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
						<div class="container-fluid">
							<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-end">
								<ul class="navbar-nav">
									<% include admheader %>
								</ul>
							</div>
						</div>
					</nav>
					<div id="workArea" class="content">
						<div class="container-fluid">
							<div class="col-md-12">
								<h2>Добавление абонемента</h2>
							</div>
							<div class="col-md-12">
								<a href="/admin/abonements" class="btn btn-primary btn-create-event">Список абонементов</a>
							</div>
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<form method="POST">
											<div class="row" style="height: 200px; overflow-y: auto; width: 400px; border: 1px solid #ccc;; margin-left: 0px; padding: 10px 0">
											<% evensList.forEach(function(evenRow) { %>
												<div class="col-12">
													<label class="custom-control custom-checkbox">
														<input type="checkbox" name="evens" value="<%= evenRow.ID %>" class="custom-control-input">
														<span class="custom-control-indicator"></span>
														<span class="custom-control-description"><%= evenRow.Name %></span>
													</label>
												</div>
											<% }); %>
											</div>
											<div class="form-group">
												<label>Цена: </label>
												<input class="form-control" type="text" name="price">
											</div>
											<div class="form-group">
												<label>Трибуна</label>
												<input class="form-control" type="text" name="tribune">
											</div>
											<div class="form-group">
												<label>Сектор</label>
												<input class="form-control" type="text" name="sector">
											</div>
											<div class="form-group">
												<label>Ряд</label>
												<input type="text" class="form-control" name="row">
											</div>
											<div class="form-group">
												<label>Место</label>
												<input class="form-control" type="text" name="seat">
											</div>	
											<button type="submit" class="btn btn-success">Создать абонемент</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>

