<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
		<script src="/javascripts/filter.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<% if(adminLogin){ %>
				<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
					<% include admmnu %>
				</div>
				<div id="workArea" class="main-panel">
					<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
							<div class="container-fluid">
								<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
								<span class="sr-only">Toggle navigation</span>
								<span class="navbar-toggler-icon icon-bar"></span>
								<span class="navbar-toggler-icon icon-bar"></span>
								<span class="navbar-toggler-icon icon-bar"></span>
								</button>
								<div class="collapse navbar-collapse justify-content-end">
									<ul class="navbar-nav">
										<% include admheader %>
									</ul>
								</div>
							</div>
					</nav>
					<div class="content">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<h2>Список шаблонов</h2>
								</div>
								<form method="POST" enctype="multipart/form-data" >
									<hr>
									<div>
										<div>
											<label>Название</label>
											<input type="text" name="name" required><br>
											<input type="file" name="page" required>
										</div>	
										<button>Добавить</button>
									</div>
									
									<hr>
								</form>
								<div class="wrapper">
									<table class="table trans">
										<thead>
											<th scope="col">ID</th>
											<th scope="col">Название</th>
											<th scope="col">Местоположение</th>
										</thead>
										<tbody>
											<% if(templates.length > 0){ %>
												<% templates.forEach(function(template) { %>
													<tr>
														<td scope="row"><%= template.ID %></td>
														<td scope="row"><a href="/admin/tmp/download/<%= template.ID %>/5348" target="_blank"><%= template.templateName %></a></td>
														<td scope="row"><%= template.templateUrl %></td>
													</tr>
												<% }); %>
											<% } else{ %>  
												<p>Шаблонов еще нет</p>
											<% } %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
>>>>>>> feature/frontend
					</div>
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>

