				<form action="/admin" method="post">
					<div class="form-group">
						<label for="txLogin">Логин</label>
						<input type="text" class="form-control" name="txLogin" id="txLogin" placeholder="Логин">
					</div>
					<div class="form-group">
						<label for="txPassword">Пароль</label>
						<input type="password" class="form-control" name="txPassword" id="txPassword" placeholder="Пароль">
					</div>
					<button type="submit" id="btnLogin" class="btn btn-primary">Войти</button>
				</form>
