<div class="logo">
	<a href="/" class="simple-text logo-normal">
	  Навигация
	</a>
</div>
<div class="sidebar-wrapper">
	<ul class="nav">
	  	<li class="nav-item">
			<a class="nav-link" href="/admin/events">
				<i class="material-icons">dashboard</i>
				<p>Мероприятия</p>
			</a>
	  	</li>
		<li class="nav-item ">
			<a class="nav-link" href="/admin/reports">
				<i class="material-icons">content_paste</i>
				<p>Отчеты</p>
			</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link" href="/admin/abonements">
				<i class="material-icons">bookmark_border</i>
				<p>Абонементы</p>
			</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link" href="/admin/users">
				<i class="material-icons">person</i>
				<p>Пользователи</p>
			</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link" href="/admin/templates">
				<i class="material-icons">library_books</i>
				<p>Шаблоны</p>
			</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link" href="/admin/export">
				<i class="material-icons">library_books</i>
				<p>Экспорт в 1С</p>
			</a>
		</li>
	</ul>
</div>