					<div class="navbar navbar-expand-lg navbar-light bg-light">
						<div class="navbar-brand"><a href="/admin/events">Мероприятия</a></div>
						<!--<div class="navbar-brand"><a href="/admin/stadiums">Стадионы</a></div>-->
						<div class="navbar-brand"><a href="/admin/users">Пользователи</a></div>
					</div>