<!DOCTYPE html>
<html>
  <head>
	<% include head_html %>
  </head>
  <body>
    <div class="Container">
		<h1>Выбор места в схеме зала</h1>
		
			<div>
		<% if(userLogin){ %>
				<% include mainheader %>
		<% } %>

				<br />
				<p><a href="/events">Назад</a> в список мероприятий</p>
				<div id="workArea" class="row">
					<span id="eventID" hidden><%= eventsList[0].ID %></span>
					<p><%= eventsList[0].Name %>, <%= eventsList[0].DateFrom %></p>
					<div id="stadiumMap">здесь будет карта (схема зала) для выбора и покупки мест</div>
				</div>
				
				<script>
					$(document).ready(function (){
						var x = 10000;
						var eventID = $("#eventID").text();
						console.log('doc ready, eventID='+eventID);
						
						//first run - get all tickets
						getNewData(eventID, 1);
						
						//every x seconds get only updated tickets
						setInterval(getNewData(eventID, 2), x);
					});
					
					function getNewData(pEventID, pRunCount){
						console.log('getNewData started, pEventID='+pEventID);
						var sURL = "";
						if (pRunCount == 1) {
							//url for getting all tickets
							sURL = "/event/"+pEventID+"/tickets";
						}
						else {
							//url for getting only updated tickets
							sURL = "/event/"+pEventID+"/getticketchanges"
						}
						
						$.ajax({
							type: "GET",
							url: sURL,
							dataType: "json",
							contentType: "application/json",
							success: function(ticketsData){
								console.log(JSON.stringify(ticketsData));
								//example ticketsData = {"status":"success","data":[{"ID":1,"Barcode":"123123123","Price":"1000.00","IDSeat":1,"IDEvent":1,"IDStatus":3,"SectorName":"A","RowN":1,"SeatN":1},{"ID":2,"Barcode":"123123222","Price":"1200.00","IDSeat":2,"IDEvent":1,"IDStatus":3,"SectorName":"A","RowN":1,"SeatN":2}]}
								/*
								ID - ticket ID
								Barcode - ticket barcode
								Price - ticket price (KZT)
								IDEvent - event ID in this stadium
								IDStatus - ticket status (3=free/sale, 4=reserved, 5=sold)
								IDSeat - maybe we dont need, it is a seat ID, not seat-number
								SectorName - sector of seat (block of seat)
								RowN - row of seat (line of seat)
								SeatN - seat-number (place of seat)
								*/
								$("#stadiumMap").text(JSON.stringify(ticketsData));
							},
						});
					}
					
					/*
					//TODO: write here a function to save saled or reserved tickets to the DB by using POST-request
					function SaveTickets(pEventID){
						var sURL = "/event/"+pEventID+"/save";
						$.ajax({
							type: "POST",
							url: sURL,
							data: {...}
						})
						.done(function(result){
							console.log('tickets saved');
							getNewData(pEventID, 2)
						});
					}
					*/
				</script>
			</div>
			
	</div>
  </body>
</html>
