<!DOCTYPE html>
<html>
  <head>
	<% include head_html %>
  </head>
  <body>
    <div class="Container">
		
		<h1>Авторизация кассира</h1>
		<% include loginform %>
		
	</div>
	<script>
		function setCookie(name, value){
			document.cookie = name + "=" + value;
		}
		setCookie('session', 0, 1);
	</script>
  </body>
</html>
