<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="Container">
		<h1>Авторизация в системе "<%= title %>"</h1>
		<% if(userLogin){ %>
			<div>
				<div class="row">
					<div class="divLoginName"><strong><%= adminLogin %></strong></div>
					<div class="divExitCmd"><strong><a href="/exit">Выйти</a></strong></div>
				</div>
				
				<div id="workArea">
					<%= eventsList %>
				</div>
				<script type="text/javascript">
					$(document).ready(function(){
						alert('yahoo');
					});
				</script>
			</div>
		<% } else{ %>
			<form action="/" method="post">
				<div class="form-group">
					<label for="txLogin">Логин</label>
					<input type="text" class="form-control" name="txLogin" id="txLogin" placeholder="Логин">
				</div>
				<div class="form-group">
					<label for="txPassword">Пароль</label>
					<input type="password" class="form-control" name="txPassword" id="txPassword" placeholder="Пароль">
				</div>
				<button type="submit" id="btnLogin" class="btn btn-primary">Войти</button>
			</form>
		<% } %>
	</div>
  </body>
</html>
