<html>
<head>
	<meta charset="UTF-8">
	<title>Билет</title>
	<style>
		body{
			margin: 0 !important;
			padding: 0 !important;
		}
		*{
			font-size: 10px !important;
		}
		.right-content{
			float: right;
		}
		.left-content{
			float: left;
		}
		h3{
			color: blue;
		}
		.afisha{
			width:150px;
			height: 250px;
		}
		.ticket-container{
			margin: 0 !important;
			width: 595px;
			height: 826px;
		}
	</style>
</head>
<body>
	<div class="ticket-container">
		<div class="right-content">
			 <img src="{{EventImage}}" class="afisha">
		</div>
		<div class="left-content">
			<h1>Билет ID: {{ticketID}}</h1>
			<h2>Мероприятие: {{eventName}}</h2>
			<hr>
			<h3>Цена: {{ticketPrice}}</h3>
			<p>Сектор: {{SectorName}}</p>
			<p>Ряд: {{RowN}}</p>
			<p>Место: {{SeatN}}</p>
			<hr>
			<div>
				<h4>Место проведения</h4>
				<p>Стадион: {{StadiumName}}</p>
				<p>Город: {{CityName}}</p>
			</div>
			<hr>
			<p>Время проведения мероприятия: {{DateFrom}}</p>
			<hr>
			<img src="{{Barcode}}">
		</div>
	</div>
</body>
</html>